:root {
  --accent-color: #4d5ae5;
  --first-color: #2e2f42;
  --second-color: #434455;
  --hover-color: #404bbf;
}

/* ===========================================RESET */

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
/* =========================================//RESET */
body {
  font-family: "Roboto", sans-serif;
  color: var(--first-color);
}
/* =========================================LOGO */
.first-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  color: var(--accent-color);
  text-transform: uppercase;
}
.second-logo {
  color: var(--first-color);
  margin-right: 76px;
}

/* //===========================================LOGO */

/* ===================================================HEADER */
.container {
  width: 1128px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 156px;
  margin-right: 156px;
}

.nav-flex {
  display: flex;
  align-items: center;
}

.nav-items {
  display: flex;
  padding-top: 24px;
  padding-bottom: 24px;
}

.nav-items:not(:last-child) {
  margin-right: 40px;
}
.header-contacts .header-contacts-link {
  font-size: 16px;

  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--second-color);
  margin-right: 40px;
}
address {
  font-style: normal;
}
/* ==========================================================Hover and focus */
.header-contacts .header-contacts-link:hover,
.header-contacts .header-contacts-link:focus {
  color: var(--hover-color);
}
.email-addres:hover,
.email-addres:focus {
  color: var(--hover-color);
}
.menu-link:hover,
.menu-link:focus {
  color: var(--hover-color);
}

.main-button:hover,
.main-button:focus {
  color: #ffffff;
  background: var(--hover-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.hero-button:hover,
.hero-button:focus {
  background: var(--hover-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
/* //===========================================================Hover and focus */

.menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.02em;

  color: var(--first-color);

  flex: none;
  order: 1;
  flex-grow: 0;
  margin-right: 40px;
}
/* //HEADER */

/* прихований заголовок */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* прихований заголовок */

/*============================================================= HERO */

.hero {
  background-color: var(--first-color);
  text-align: center;
}

.hero-tittle {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.7;
  letter-spacing: 0.02em;

  color: #ffffff;
}
.hero-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

/* features-section-1 */
.features-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--first-color);
}

.features-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--second-color);
}
/* SECTION 2  */
.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--first-color);
}

.people {
  background: #f4f4fd;
}

/* Section 3 */
.people-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--first-color);
}
.people-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--second-color);
}
/* FOOTER */
.footer-text {
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.02em;

  color: #e7e9fc;
}
.footer {
  background: var(--first-color);
}
.second-logo-footer {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}
/* ===========================================================================PORTFOLIO PAGE */

/* BUTTONS */
.main-button {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--accent-color);
  background: #f4f4fd;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  cursor: pointer;
}

.main-tittle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--first-color);
}
.main-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--second-color);
}
